<div class="navbar">
    <nav class="menu">
      <a href="#">[0] = Home</a>
      <a href="#">[1] = Experience</a>
      <a href="#">[2] = Skills</a>
      <a href="#">[3] = Contact</a>
      <a href="#" class="resume-button">Resume</a>
    </nav>
  </div>
  <div class="header">
    <div class="intro">
        <p class="intro-text">Hi, my name is</p>
        <h1 class="name">{{ fullName }}</h1>
        <h2 class="title">Software Engineer</h2>
        <p class="description">To leverage my 8 years of experience as a software engineer in developing, designing, maintaining, and 
            enhancing web applications, in-house applications for healthcare industries, console applications for
            publishing industries, and cloud ERP solutions</p>
        <p class="description">Seeking a challenging position that will allow me to
            utilize my knowledge of software design, development best practices, and ability to produce quality,
            readable, and reusable code to contribute to a dynamic software development team.</p>
        <a href="#" class="cta-button">Check out my experience!</a>
    </div>
  </div>
  