<div class="navbar">
    <nav class="menu">
      <a href="#about">[0]. About</a>
      <a href="#experience">[1]. Experience</a>
      <a href="#work">[2]. Work</a>
      <a href="#contact">[3]. Contact</a>
      <a href="/assets/Alcantara-Joseph-Resume.pdf" target="_blank" class="resume-button">Resume</a>
    </nav>
  </div>
  <div class="header" id="about">
    <div class="intro">
      <p class="intro-text">Hi, my name is</p>
      <h1 class="name">{{ fullName }}.</h1>
      <h2 class="title">Software Engineer.</h2>
      <p class="description">To leverage my 8 years of experience as a software engineer in developing, designing, maintaining, and 
        enhancing web applications, in-house applications for healthcare industries, console applications for
        publishing industries, and cloud ERP solutions</p>
      <p class="description">Seeking a challenging position that will allow me to
        utilize my knowledge of software design, development best practices, and ability to produce quality,
        readable, and reusable code to contribute to a dynamic software development team.</p>
    </div>
  </div>
  <div class="experience" id="experience">
    <h2 class="section-title">Experience</h2>
    <div class="job" *ngFor="let experience of experienceData">
      <div class="job-date">{{ experience.date }}</div>
      <div class="job-details">
        <h3>{{ experience.position }} | {{ experience.company }}</h3>
        <p>{{ experience.description }}</p>
        <div class="skills">
            <span class="skill" *ngFor="let skill of experience.skills">{{ skill }}</span>
        </div>
      </div>
    </div>
    <a id="resume" href="/assets/Alcantara-Joseph-Resume.pdf" target="_blank" class="cta-button">Check out my Full Resume!</a>
  </div>
  